:root {
    --dkblu: #29424c;
    --mdblu: #406778;
    --ltblu: #96b6c4;
    --txt: #dedede;
}

@font-face {
    font-family: 'seurat';
    src: url('/assets/fonts/FOT-Seurat Pro B.otf') format('opentype');
}

* {
    font-family: 'seurat', sans-serif;
}


@media (max-width: 600px) {
  .control-window {
    left: 0;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
}

html {
    background-color: var(--ltblu);
}

.control-window {
    position: fixed;
    bottom: 60px;
    left: 20px;
    width: 300px;
    background: rgba(0, 0, 0, 0.517);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    z-index: 100;
    padding: 9px;
    display: flex;
    flex-direction: column;
}

.control-window h4 {
    color: var(--txt);
    margin-left: 4px;
}

.map-container {
    height: 100vh;
    width: 100vw;
}

.map-container img {
    display: block;
    pointer-events: none;
    height: 100%;
    width: auto;
    object-fit: cover;
}

.control-window-top {
    display: flex;
    justify-content: space-between;
}

.radio-group button {
    font-size: 0.7rem;
}

.check-group {
    height: 66px;
}

.check-group button,
.check-group button img {
    height: 100%; 
    width: auto;
}

.tab-bar {
    height: 44px;
    position: absolute;
    top: 100%;         /* Pushes the bar exactly below the bottom edge */
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    background: transparent;
    border-radius: 0 0 15px 15px;
}

.tab-bar button,
.tab-bar button img {
    height: 100%;
    width: auto;
}

a, button, 
.tab-link, .map-icon, 
button img {
    cursor: url('/assets/ptr.png'), pointer !important;
}
